<h1 class="h3">Realties</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Price</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realties.each do |realty| %>
      <tr>
        <td><%= realty.name %></td>
        <td><%= realty.address %></td>
        <td><%= realty.price %></td>
        <td><%= realty.rooms %></td>
        <td><%= realty.bathrooms %></td>
        <td><%= link_to 'Show', realty %></td>
        <td><%= link_to 'Edit', edit_realty_path(realty) %></td>
        <td><%= link_to 'Destroy', realty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realty', new_realty_path %>
