<div class="realty-main-photo" style="background-image:url('<%= realty_photo_url @realty %>')">
  <div class="photo-overlay">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-6">
          <p class="mb-0"><%= @realty.address %></p>
          <p class="h2 mb-3"><%= @realty.price > 0 ? number_to_currency(@realty.price, precision: 0) : "For sale" %></p>
        </div>
        <div class="col-lg-6 text-center">
          <div class="row mr-lg-3 mt-sm-3 bg-light p-3">
            <div class="col-4">
              <p class="m-0"><strong>Rooms</strong></p>
              <span class="lead"><%= @realty.rooms %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong>Bathrooms</strong></p>
              <span class="lead"><%= @realty.bathrooms %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong>Parking</strong></p>
              <span class="lead"><%= @realty.parking_spaces %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom mt-5 mb-5 pt-4 pb-4">
        <div class="col-6">
          <strong><%= link_to "Est. Monthly Repayments of #{number_to_currency((@realty.price / 360), precision: 0)}", "#", class: "text-success" %></strong>
        </div>
        <div class="col-6 text-right">
          <strong><%= link_to "Can I afford this realty?", "#", class: "text-success" %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="h3"><%= @realty.name %></p>
          <p class="h5">Realty Description</p>

          <div id="real-details" class="">
            <%= simple_format @realty.details %>
          </div>

          <button class="btn btn-outline-info mt-3" id="toggleDetails">Read more</button>
          <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render "realties/agent_details" %>
    </div>
  </div>
</div>

<section class="mt-5 mb-5">
    <div class="container">
      <div class="row">
        <%= render "realties/list", realties: @agent_realties %>
      </div>
    </div>
</section>