<p>
  <strong>Name:</strong>
  <%= @realty.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @realty.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @realty.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @realty.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @realty.bathrooms %>
</p>

<%= link_to 'Edit', edit_realty_path(@realty), class: "btn btn-success" %>
<%= link_to 'Cancel', realties_path, class: "btn btn-primary" %>
